.appview-container.css-1wrcr25.e1g8pov66 {
    background-color: white;
}

.css-zt5igj.eqr7zpz3 {
    color: darkblue;

}

.css-1nm2qww.e1akgbir2 {
    color: white;
}

.css-10zg0a4.e1akgbir1 {
    color: red;
}

.css-6qob1r.e1akgbir3 {
    background-color: slategrey;
}